#select
{
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
    width: 100%; /* adjust this width depending to amount of text to display */
    height: 100%; /* adjust height depending on number of options to display */
    border: 1px silver solid;
}