<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/photoslayout.css" />
</head>
<body>
	<div id="photo_list">
	{% if isCookieSet %}
		{% if isResultEmpty %}
			<b>Sorry, no photo found around {{region}}...</b><br/>
		{% else %}
			<b>Photos around {{region}}. </b><br/>
			<table class="photos" border="0">
			{% for sublist in tuplelist %}
				<tr>
				{% for photos in sublist %}
					<td><a href="http://farm{{photos.0}}.static.flickr.com/{{photos.1}}/{{photos.2}}_{{photos.3}}.jpg" target="_blank">
							<img src="http://farm{{photos.0}}.static.flickr.com/{{photos.1}}/{{photos.2}}_{{photos.3}}.jpg"  width="100px" height="100px"/>
						</a>
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
		{% endif %}
	{% else %}
		<b> Please select an earthquake... </b>
	{% endif %}
	</div>
</body>
</html>